.sensorview {
  background-color: white;
  max-width: 1200px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  box-sizing: border-box;
  height: calc(100vh - 76px);
  overflow-y: auto;
  .title {
    text-align: left;
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding-left: 15px;
    color: #00c4b3;
  }

  .date-picker-icon {
    float: right;
    margin-top: 10px;
    padding-right: 15px;
  }
}

.legend-text {
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #227722;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

ul {
  list-style-type: none;
  margin-top: 50px;
  margin-bottom: 15px;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  padding-left: 15px;
}

li p {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li p:hover {
  background-color: green;
}
