.sensorview {
    margin-top: 16px;
    background-color: white;

    .title{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        padding-left: 15px;
        display: flex;
        color: #00C4B3;
    }
}