.areaform{
    width: 960px;
    height: 166px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
    border-radius: 2px;
    margin: auto;
        margin-top: 16px;
        margin-left: unset;
    text-align: unset;
    font-size:20px;

        select {
            font-size: 20px;  
            width: 100%;
            border: none;  
            margin-top: 10px;
        }
        
        select:invalid { 
            color: gray; 
        }

        form {
            margin: 20px auto;
            display: grid;
            padding-bottom: 30px;
        }
        
        fieldset {
            position: relative;
            border: none;  
            display: flex;
            width: 400px;
        }
      
      input {
        font-size: 20px;  
        width: 100%;
        border: none;  
        margin-top: 10px;
      }
      
      input:focus {
        outline: none;
      }
      
      .after {
        width: 100%;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.3);
        background-size: 200% 100%;
        background-position: 100% 0;
      }

      button {
        margin-right: 10px;
      }
}

#left {
  float: left;
}

#right {
  float: right;
}

#line {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

#cancel {
  margin-right: 20px;
}

#save {
  border-radius: 2px;
padding: 8px 20px;
  background: #00C4B3;
  color: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.options a{
  font-size: 16px;
  margin-right: 25px;
  line-height: 20px;
  text-decoration: none;
  color: #00C4B3;
  font-style: normal;
  font-weight: normal;
}

#cancel:hover {
    text-decoration: underline;
  
}