.topnav {
    position: static;
    background-color: #00C4B3;
    height: 64px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 20px 20px;
    margin: 0px 5px 0px 10px;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    align-items: center;
    mix-blend-mode: normal;
    
  }
  
  .topnav #add {
    float: right;
  }

  .topnav span {
    float: left;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    align-items: center;
    mix-blend-mode: normal;
    margin: 15px 0px 0px 25px;
  }

  .topnav #menu-span {
    float: left;
    color: #ffffff;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    align-items: center;
    mix-blend-mode: normal;
    margin: 0px 0px 10px 0px;
    cursor: pointer;
  }
  
  #menu-span:hover {
    background-color: rgb(0, 180, 165);
  }

  .topnav #add-img {
    margin: 0px 13px;
  }

  .topnav a:hover {
    background-color:rgb(0, 180, 165);
  }

  
  #brand {
    padding-right: 25px;
  }
  

  .App {
    text-align: center;
  }
  
  .App-header {
    background-color: #EEEEEE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .App-content {
    position: absolute;
    background-color: #EEEEEE;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  
  .App-link {
    color: #61dafb;
  }
  